@model Documents

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<h3>Usuwanie dokumentu</h3>
<div>
    <h4>Dokumenty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Typ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            Data dodania
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
        <dt class = "col-sm-2">
            Opis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Cena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            Ilość
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCount)
        </dd>
        <dt class = "col-sm-2">
            Metoda płatności
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class = "col-sm-2">
            Użytkownik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
